@charset "utf-8";
/* CSS Document */

ul {
   list-style-type: none;
   padding: 0;
   margin: 0; 
}

li.videolist {
	list-style-type: none;
	float:left;
	width: 500px; 
	padding: 0;
	margin: 0 0 10px 30px;
}
   